name: build

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'master'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      -
        name: Validate
        uses: docker/bake-action@v6
        with:
          targets: validate

  test:
    uses: ./.github/workflows/.test.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        include:
          -
            image: alpine:3.18
            base: alpine
            allow-failure: false
          -
            image: alpine:3.19
            base: alpine
            allow-failure: false
          -
            image: alpine:3.20
            base: alpine
            allow-failure: false
          -
            image: alpine:3.21
            base: alpine
            allow-failure: false
          -
            image: alpine:3.22
            base: alpine
            allow-failure: false
          -
            image: alpine:edge
            base: alpine
            allow-failure: true
          -
            image: debian:bookworm
            base: debian
            allow-failure: false
          -
            image: debian:bookworm-backports
            base: debian
            allow-failure: false
          -
            image: debian:trixie
            base: debian
            allow-failure: false
          -
            image: debian:sid
            base: debian
            allow-failure: true
          -
            image: ubuntu:20.04
            base: debian
            allow-failure: false
          -
            image: ubuntu:22.04
            base: debian
            allow-failure: false
          -
            image: ubuntu:24.04
            base: debian
            allow-failure: false
          -
            image: redhat/ubi8
            base: rhel
            allow-failure: false
          -
            image: fedora:39
            base: rhel
            allow-failure: false
          -
            image: fedora:40
            base: rhel
            allow-failure: false
          -
            image: fedora:41
            base: rhel
            allow-failure: false
          -
            image: fedora:42
            base: rhel
            allow-failure: false
          -
            image: centos:7
            base: rhel
            allow-failure: false
          -
            image: rockylinux/rockylinux:8
            base: rhel
            allow-failure: false
          -
            image: rockylinux/rockylinux:9
            base: rhel
            allow-failure: false
          -
            image: rockylinux/rockylinux:10
            base: rhel
            allow-failure: false
          -
            image: oraclelinux:8
            base: rhel
            allow-failure: false
          -
            image: oraclelinux:9
            base: rhel
            allow-failure: false
    with:
      image: ${{ matrix.image }}
      base: ${{ matrix.base }}
      allow-failure: ${{ matrix.allow-failure }}

  build:
    uses: docker/github-builder-experimental/.github/workflows/bake.yml@8fc70909404a502fd0eca6601b99b32fa7192b03
    permissions:
      contents: read # same as global permission
      id-token: write # for signing attestation(s) with GitHub OIDC Token
    needs:
      - validate
      - test
    with:
      runner: amd64
      target: xx-all
      output: image
      push: ${{ github.event_name != 'pull_request' }}
      set-meta-labels: true
      meta-images: |
        tonistiigi/xx
      meta-tags: |
        type=ref,event=branch
        type=ref,event=pr
        type=semver,pattern={{version}}
      meta-bake-target: meta-helper
    secrets:
      registry-auths: |
        - registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
