name: build

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'master'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Validate
        uses: docker/bake-action@v1
        with:
          targets: validate

  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.allow-failure }}
    strategy:
      fail-fast: false
      matrix:
        include:
          -
            image: alpine:3.13
            typ: alpine
            allow-failure: false
          -
            image: alpine:3.14
            typ: alpine
            allow-failure: false
          -
            image: alpine:edge
            typ: alpine
            allow-failure: true
          -
            image: debian:buster-backports
            typ: debian
            allow-failure: false
          -
            image: debian:bullseye
            typ: debian
            allow-failure: false
          -
            image: debian:bookworm
            typ: debian
            allow-failure: false
          -
            image: debian:sid
            typ: debian
            allow-failure: true
          -
            image: ubuntu:20.04
            typ: debian
            allow-failure: false
          -
            image: ubuntu:21.10
            typ: debian
            allow-failure: false
          -
            image: redhat/ubi8
            typ: rhel
            allow-failure: false
          -
            image: fedora:35
            typ: rhel
            allow-failure: false
          -
            image: centos:8
            typ: rhel
            allow-failure: false
          -
            image: rockylinux/rockylinux:8
            typ: rhel
            allow-failure: false
          -
            image: oraclelinux:8
            typ: rhel
            allow-failure: false
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Test
        uses: docker/bake-action@v1
        with:
          targets: test-${{ matrix.typ }}
          set: |
            test-${{ matrix.typ }}.args.TEST_BASE_IMAGE=${{ matrix.image }}

  build:
    runs-on: ubuntu-latest
    needs:
      - validate
      - test
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            tonistiigi/xx
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
          bake-target: meta-helper
      -
        name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build
        uses: docker/bake-action@v1
        with:
          files: |
            ./docker-bake.hcl
            ${{ steps.meta.outputs.bake-file }}
          targets: base-all
          push: ${{ github.event_name != 'pull_request' }}
