name: sdk-extras

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    tags:
      - "v*"
    paths:
      - "src/sdk-extras/**"
  pull_request:
    branches:
      - "master"
    paths:
      - "src/sdk-extras/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build
        uses: docker/bake-action@v2
        with:
          files: |
            ./docker-bake.hcl
          targets: sdk-extras
